            get
            {
                var fieldInfo = typeof({{TYPE_FULL_NAME}}).GetField("{{FIELD_NAME}}", 
                    System.Reflection.BindingFlags.Instance | System.Reflection.BindingFlags.NonPublic);

                if (fieldInfo == null)
                    throw new System.InvalidOperationException("Field '{{FIELD_NAME}}' not found");

                return ({{FIELD_TYPE}})fieldInfo.GetValue(_instance)!;
            }
