            get
            {
                var propertyInfo = typeof({{TYPE_FULL_NAME}}).GetProperty("{{PROPERTY_NAME}}", 
                    System.Reflection.BindingFlags.Instance | System.Reflection.BindingFlags.NonPublic);

                if (propertyInfo == null)
                    throw new System.InvalidOperationException("Property '{{PROPERTY_NAME}}' not found");

                return ({{PROPERTY_TYPE}})propertyInfo.GetValue(_instance)!;
            }
